@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=RocknRoll+One&display=swap");
/* container // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
991.98// Планшеты, некоторые телефоны в горизонтальном положении
767.98 // Телефоны L
479.98 // Телефоны S */
body {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Anonymous Pro", monospace;
  min-width: 320px;
  height: 100vh;
  color: rgb(239, 239, 237);
  text-align: center;
}
.wrapper {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.wrapper__container {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper__cover {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*="-ibg"] {
  position: relative;
}
[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper__tv {
  position: absolute;
  object-fit: cover;
}

.header {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: no-wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}
.header__music {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.play-list {
  text-align: left;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1110px) {
  .play-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 0px;
    min-width: 30%;
    font-size: 18px;
  }
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  z-index: 3;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 8px;
  width: 180px;
  text-align: left;
  color: black;
  font-weight: 700;
}
.weather input {
  color: black;
  font-weight: 700;
  font-family: "Anonymous Pro", monospace;
}
@media (max-width: 1110px) {
  .weather {
    color: white;
    font-weight: 400;
  }
  .weather input {
    color: white;
    font-weight: 400;
  }
}
.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather__icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  flex: 1 1 100%;
  width: 100%;
  padding: 20px; 
}
.main__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
  gap: 8px;
}

.slider-icon {
  position: absolute;
  top: 53%;
  cursor: pointer;
}

.slide-prev {
  right: 50%;
  margin-right: 8px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  left: 50%;
  margin-left: 8px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  font-size: 48px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 16px;
}
@media (max-width: 1230px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .main__container {
    align-self: flex-end;
    color: black;
    padding-bottom: 70px;
  }
  .date {
    min-height: 0;
  }
}
.main__greeting {
  font-size: 32px;
}

.greeting {
  flex: 1;
  text-align: right;
}
.cake {
  position: absolute;
  right: 25%;
  top: 58%;
  width: 200px;
  height: 180px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 554px) {
  .greeting {
    flex: 1 1 50%;
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: relative;
}

.footer__quotes {
  display: flex;
  color: white;
  font-weight: 700;
  width: 900px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.quote {
  width: 820px;
}
@media (max-width: 1024px) {
  .footer__quotes {justify-content: center;}
  .quote {
    width: 520px;
  }
}
@media (max-width: 749px){  .footer__quotes  {
    display: none;
  }}
@media (max-width: 554px) {
  .footer__empty {
    display: none;
  }

}
.change-quote {
  min-width: 45px;
  min-height: 45px;
  background-image: url("../assets/svg/reload.svg");
}

.setting {
  min-width: 50px;
  min-height: 50px;
  background-image: url("../assets/svg/sett.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-self: flex-end;
  align-items: center;
  position: relative;
  left: 0px;
}
.footer__empty {
  width: 50px;
  height: 50px;
}
.pop {
  display: none;
  padding: 10px 20px 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 70px;
  width: 360px;
  height: 440px;
  background-color: transparent;
  box-shadow: 0 0 3px 0 white;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  z-index: 5;
}
.pop-active {
  display: block;
}
.pop__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.switcher {
  position: relative;
  display: flex;
}
.switcher__label {
  width: 70px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  opacity: 1;
}
.switcher__label::before {
  transition: transform, left 3s ease 0s;
  cursor: pointer;
  width: 30px;
  height: 20px;
  content: "";
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translate(0, -50%);
}
.switcher__input:checked + .switcher__label {
  background-color: rgba(0, 0, 0, 0.3);
}

.switcher__input:checked + .switcher__label::before {
  background-color: white;
  left: 25px;
}
.switcher__input {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
}
.switcher__text {
  margin-right: 10px;
}

@media (max-width: 1320px) {
  .pop {
    color:black;
    background-color: rgb(237,237,234);
      border: 2px solid black;
  }
  .switcher__label {
  border: 2px solid black;
}
.switcher__label::before {
  border: 2px solid black;}
}
@media (max-width: 792px) {
  /* .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  } */
  .play-list {
    display: none;
  }
}
@media (max-width: 554px) {
  .time {
    min-height: 60px;
    font-size: 42px;
  }
  .pop {
    left: 5px;
    bottom: 100px;
    max-width: 270px;
    padding: 5px;
  }
}
@media (max-width: 450px) {
  /* .greeting-container {
    min-height: 30px;
    font-size: 20px;
  }
  .name {
    font-size: 20px;
  } */
}
.audio-player {
  margin-right: auto;
  padding: 0 5px;
  height: 50px;
  width: 350px;
  background: transparent;
  box-shadow: 0 0 3px 0 white;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
  border-radius: 15px;
}
@media (max-width: 554px) {
  .audio-player {
    display: none;
  }
}

.timeline {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 8px 0 #0008;
}
.progress {
  background: white;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}

.controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playpro {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid white;
}

.playpro :hover {
  transform: scale(1.1);
}

.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.pause :hover {
  transform: scale(1.1);
}

.time-play {
  display: flex;
}

.time-play > * {
  padding: 2px;
}

.volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.volume-button .volume {
  transform: scale(0.7);
}

.volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}
.volume-percentage {
  background: rgba(255, 127, 80, 0.745);
  height: 100%;
  width: 75%;
}
.volume-button {
  align-self: center;
  background-position: center;
  background-size: cover;
  width: 26px;
}
.source {
  background-image: url("../assets/img/wolume.png");
}
.source-no {
  background-image: url("../assets/img/wolumeno.png");
}
.volume-container:hover .volume-slider {
  left: -140px;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
}
